/vendor/
/composer.phar
/composer-setup.php
composer.lock
.env
.phpunit.result.cache
.phpunit.cache/
/build/
!important.txt
/writable/debugbar/
/writable/session/
/writable/vendor/
/writable/cache/*
/!writable/cache/.gitkeep
/writable/logs/
/system/app/
